# Среда разработки
.idea/

# Тяжелые файлы весов модели и архивные датасеты
*.keras
*.h5
*.pkl
data.csv
*.zip
*.rar

# Исключение: словарь символов оставляем в Git
!char_vocab.json

# Виртуальное окружение
venv/
.venv/
env/

# Кэш Python
__pycache__/
*.pyc

# Системный мусор
.DS_Store
Thumbs.db